<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link href="/Public/styles/index.css" rel="stylesheet">
    <link href="/Public/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/Public/styles/bootstrap-theme.css" rel="stylesheet">
    <script src="/Public/js/bootstrap.min.js"></script>
    <script src="/Public/js/bootstrap.js"></script>
    <script src="/Public/js/jquery.min.js"></script>
</head>
<body>

<?php require __VIEW__.'top.html'; ?>
<!--导航结束-->

<?php require __VIEW__.'left.html'; ?>


<div id="content">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <caption><?php echo $_SESSION['USER']?>的留言</caption>
                <thead>
                <tr>
                    <th>文章标题</th>
                    <th>留言内容</th>
                    <th>留言操作</th>
                </tr>
                </thead>
                <tbody>
            <?php
            foreach($msgs as $rows):
            $pageid=$rows['Pageid'];
            ?>
                <tr>
                    <td><?php echo $this->LeaveModel->seletcTitle($pageid);?></td>
                    <td><?php echo $rows['Page_msg']?></td>
                    <td><a href="?p=home&c=Leave&a=del&del=<?php echo $rows['msg_id']?>">删除</a></td>
                </tr>

                <?php endforeach;?>
                </tbody>
            </table>

        </div>
</div>



<div class="clearfix"></div>



<?php require __VIEW__.'footer.html'; ?>

</body>
</html>