<div id="top">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><?php echo $site['site_name'] ?></a></div>
        <div>
            <ul class="nav nav-tabs">
                <li><a href="?p=admin&c=Index">首页</a></li>
                <li><a href="?p=admin&c=User&a=UserManager">用户管理</a> </li>
                <li><a href="?p=admin&c=AddUser&a=AddUser">添加用户</a></li>
                <li><a href="?p=admin&c=Page">文章管理</a></li>
                <li><a href="?p=admin&c=AddPage">添加文章</a></li>
                <li><a href="?p=admin&c=SiteInfo">站点信息管理</a></li>
                <li><a href="?p=admin&c=PageType&a=TypeManager">站点类别管理</a></li>
                <li><a href="?p=admin&c=PageType&a=AddType">添加类别</a></li>
                <li><a href="?p=admin&c=Message">评论管理</a></li>
                <li><a href="?p=admin&c=image&">个人相册</a></li>
                <li><a href="?p=admin&c=image&a=Addimage">添加相册</a></li>
                <li><a href="?p=admin&c=Index&a=Logout">退出登录</a></li>
            </ul>
        </div>
    </nav>
</div>